.form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(6, 83, 250);
  background-color: rgb(238, 238, 241);
}

.label {
  display: block;
  margin: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}
.input {
  margin-left: 10px;
  padding: 10px 20px;
  border: 1px solid blue;
  background-color: rgb(248, 248, 213);
  border-radius: 5px;
}

.btn {
  font-size: 16px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1 px solid blue;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(219, 253, 175);
}
